.container{
    margin: 0 auto;
    padding:  0 15px;
}

.backGround{
    background: #f9f9f9;
}
.dark-backGround{
    background: #252525;
}

// row loại bỏ khoảng thừa do gutters tạo ra
// row có nhiệm vụ để item xuống dòng
.grid{
    display: block;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -7px;// code này để loại bỏ gutters
    margin-right: -7px;
}
.col{
    padding-left: 7px;// tạo gutters
    padding-right: 7px;
}
.l-0{
    display: none;
}
.l-1{
    flex: 0 0 8.333%;
    max-width: 8.333%;
}
.l-2{
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
}
.l-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.l-4{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}
.l-5{
    flex: 0 0 41.6667%;
    max-width: 41.6667%;
}
.l-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.l-8{
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
}
.l-9{
    flex: 0 0 75%;
    max-width: 75%;
}
.l-10{
    
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
}
.l-12{ 
    flex: 0 0 100%;
    max-width: 100%;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1030px;
    }
}