.story-info {
  .story-img {
    width: 100%;
  }
}
.read-action {
  a {
    margin-right: 4px;
  }
}
.rating {
  img {
    height: 20px;
    width: 20px;
  }
}
.follower{
  span{
    font-size: 1.4rem;
  }
}
.story-info.dark{
  .follower {
    a {
      color: var(--orange--color);
      &:hover {
        color: var(--red--color);
      }
    }
    h3 {
      color: var(--orange--color);
    }
  }
}