.follow-action {
    margin: 5px 0 7px;
    font-size: 1.2rem;
  
    svg {
      padding-right: 4px;
    }
  
    .mark-as-read {
      color: #23a903;
      &:hover {
        text-decoration: underline;
      }
    }
    .unfollow, .follow {
      color: #d9534f;
      float: right;
      &:hover {
        text-decoration: underline;
      }
    }
  }